{
  "extends": ["airbnb", "prettier","plugin:chai-friendly/recommended"],
  "plugins": ["prettier"],
  "root": true,
  "env": {
    "mocha": true,
    "node": true
  },
  "rules": {
    "prettier/prettier": ["error"],
    "import/no-extraneous-dependencies": "off",

    "radix": "off",
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "no-console": "off",
    "no-nested-ternary": "off",
    "react/react-in-jsx-scope": "off",
    "react/jsx-filename-extension": "off"
  }
}
